.main-color {
  color: #93C533; }

body {
  width: 1300px;
  margin: 0 auto;
  font-family: "Open Sans"; }

.login {
  border-radius: 30px;
  background-color: #93C533;
  border: 0px;
  width: 100px;
  height: 35px; }

.main-banner {
  width: 1300px;
  height: 570px !important;
  background-size: 100% 100%;
  background-image: url("../images/venezia.jpg");
  height: 470px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .main-banner button {
    margin-top: 60px;
    font-size: 19px;
    font-weight: 550;
    width: 253px;
    height: 72px;
    background-color: #93C533;
    border: 0px; }

#Banana {
  font-size: 35px; }

.navbar {
  width: 1300px; }

.Big_zagolovok {
  font-size: 39px;
  font-family: "Open Sans";
  font-weight: 600; }

.stonks_with_text {
  text-align: center;
  margin-top: 100px;
  font-size: 19px;
  margin-bottom: 160px; }
  .stonks_with_text p {
    color: #515151;
    font-size: 19px;
    font-family: "Open Sans"; }
  .stonks_with_text h2 {
    margin-top: 52px;
    margin-bottom: 73px; }

.active {
  background-color: #93C533; }

.nav-link {
  color: #5f5f5f; }

.myslaider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 112px; }

.fa-glasses {
  font-size: 120px;
  color: #2893bb;
  margin-right: 106px; }

#properties_button {
  background-color: #2893bb;
  border: 0px; }

.myFind button {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 51px;
  width: 187px; }

.centered-text {
  display: flex;
  align-items: center;
  justify-content: center; }

.Properties {
  background-color: #e1f8ff;
  height: 305px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Properties img {
    width: 145px;
    height: 121px;
    margin-right: 45px; }

.Buyers {
  background-color: #f5f9ea;
  height: 305px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .Buyers img {
    width: 111px;
    height: 95px;
    margin-right: 73px; }
  .Buyers button {
    background-color: #93C533;
    border: 0px; }

.two_faces {
  display: flex;
  justify-content: space-around;
  margin-top: 100px; }

.text_in_cloud {
  display: inline-block;
  background-image: url("../images/cloud_text.png");
  background-size: 100% 100%;
  padding: 50px;
  text-align: center; }

.brands {
  display: flex;
  justify-content: center;
  margin-top: 55px; }

.brand {
  margin-left: 10px;
  margin-right: 10px; }

.Backham_h4 {
  color: #93C533;
  font-size: 21px;
  font-family: "Open Sans";
  font-weight: 600; }

.Backham_text {
  color: #5f5f5f;
  font-size: 14px; }

.Backham_face {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  background-image: url("../images/face1.png");
  background-size: 100% 100%;
  margin-left: 70px;
  margin-right: 20px; }

.user_data {
  margin-top: 20px;
  display: flex;
  align-items: end; }
  .user_data p {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; }

.mini-zagolovok-salad {
  font-size: 25px;
  color: #93C533;
  margin-bottom: 43px; }

.mini-zagolovok {
  font-size: 23px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600; }

.mini-text {
  font-size: 17px;
  color: #515151; }

#featured {
  font-size: 29px; }

.Featured_Projects {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
  margin-top: 85px;
  width: 980px; }

#button_text {
  font-size: 15px;
  margin-left: 152px;
  font-weight: 600; }

.MyCards {
  width: 980px;
  margin-top: 63px;
  font-family: "Open Sans"; }
  .MyCards i {
    color: #93C533; }
  .MyCards a {
    text-align: right; }
  .MyCards p {
    font-size: 13px;
    font-family: "Open Sans";
    color: #515151; }
  .MyCards .card {
    background-color: #f9f9f9; }

.Be_Part {
  text-align: center;
  margin-top: 90px; }

.Copyright {
  border-top: 1px solid #e6e6e6;
  margin-top: 40px;
  padding-top: 30px;
  font-size: 13px;
  color: #848484;
  text-align: center; }

.STC_tabs {
  border-bottom: 1px solid #e6e6e6; }
  .STC_tabs a {
    font-size: 33px;
    display: flex;
    font-family: "Open Sans";
    font-weight: 200; }
  .STC_tabs button {
    margin-right: 32px;
    width: 43px;
    height: 43px;
    border: 0px;
    justify-content: center;
    font-size: 21px;
    font-family: "Open Sans";
    background-color: #5f5f5f; }

.nav_text {
  color: #5f5f5f !important; }

.nav-link:hover {
  color: #93C533; }
.nav-link:focus {
  color: #93C533; }

.progress-bar {
  background-color: #93C533; }

.funded {
  margin-top: 22px;
  display: flex;
  justify-content: space-between; }
  .funded p {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #8d8d8d; }

.lunapark-bg {
  background-image: url("../images/back-water.jpg");
  background-size: 110% 100%;
  padding-bottom: 60px; }

.main-nav {
  display: flex;
  justify-content: center; }
  .main-nav button {
    margin-left: 75px;
    font-size: 13px; }
  .main-nav img {
    height: 36px;
    width: 36px;
    margin-rigth: 10px; }
  .main-nav li {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 600; }

.navbar-brand {
  display: flex;
  align-items: center;
  font-size: 31px;
  font-family: Nunito;
  display: flex;
  align-items: start; }
  .navbar-brand b {
    color: #6d6e70;
    margin-right: 123px; }
  .navbar-brand img {
    height: 37px;
    width: 37px;
    margin-rigth: 10px; }

.active {
  background-color: #93C533 !important; }

.markers-cards {
  display: flex; }

.color-markers {
  margin-left: 50px;
  margin-right: 60px;
  margin-top: 280px; }
  .color-markers img {
    height: 260px; }

.See {
  font-size: 15px !important;
  font-weight: 600; }

/*# sourceMappingURL=style.css.map */
